/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

body {
  /* fallback for old browsers */
  background: #F3003F;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #1F1C18, #F3003F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #1F1C18, #F3003F);
  color: white;
}

#gp-logo img {
  max-height: 2.5em;
  max-width: none;
}

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: white;
}

.controls-arrow {
  color: white;
}

.reveal .slide-number {
  color: white !important;
}

.reveal #notification {
  color: white !important;
}

.reveal a {
  color: white;
  text-decoration: underline;
}
